{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <h2 style="text-align: center">Dice Roller</h2>
  </div>
</div>

<!-- Form -->
<div class="container">
  <form action="{{ url_for('dice') }}" method="post">

    <div class="row">
      <div class="two columns">
        <label for="D4">
          <input type="radio" name="dice" id="D4" value="D4">
          <span class="iconify" data-icon="mdi:dice-d4" data-inline="true" width="64px"></span>
        </label>
      </div>

      <div class="two columns">
        <label for="D6">
          <input type="radio" name="dice" id="D6" value="D6">
          <span class="iconify" data-icon="mdi:dice-d6" data-inline="true" width="64px"></span>
        </label>
      </div>

      <div class="two columns">
        <label for="D8">
          <input type="radio" name="dice" id="D8" value="D8">
          <span class="iconify" data-icon="mdi:dice-d8" data-inline="true" width="64px"></span>
        </label>
      </div>
      
      <div class="two columns">
        <label for="D10">
          <input type="radio" name="dice" id="D10" value="D10">
          <span class="iconify" data-icon="mdi:dice-d10" data-inline="true" width="64px"></span>
        </label>
      </div>

      <div class="two columns">
        <label for="D12">
          <input type="radio" name="dice" id="D12" value="D12">
          <span class="iconify" data-icon="mdi:dice-d12" data-inline="true" width="64px"></span>
        </label>
      </div>

      <div class="two columns">
        <label for="D20">
          <input type="radio" name="dice" id="D20" value="D20" checked="checked">
          <span class="iconify" data-icon="mdi:dice-d20" data-inline="true" width="64px"></span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="Number of Dice">Number of Dice</label>
        <input type="number" value=1 class="u-full-width" name="times"/>
      </div>
      <div class="six columns">
        <label for="Modifier">Modifier</label>
        <input type="number" value=0 class="u-full-width" name="modifier"/>
      </div>
    </div>
    <div class="row">
      <div class="eight columns offset-by-two centering">
        <input class="button-primary" type="submit" value="Roll" id="roll_btn" />
      </div>
    </div>
    <br/>
    <div class="row centering">
      <p class="alert alert-info"><strong>{{ roll }}</strong></p>
    </div>
  </form>
</div>
{% endblock %}
