{% extends "layout.html" %}

{% block body %}

<div class="container">
  <h3 class="centering"><span>Overview</span></h3>
  <h5 class="centering">
    <p> This is a helper tool for players of Dungeons and Dragons. </p>
    <p> Roll dice, generate a character with an ad-libbed one-line backstory, or play a complete ad-libbed D&amp;D scene! </p>
    <p> The D&amp;D μStarter Kit makes use of quantum computing for randomness and ad-libs, alongside user inputs. </p>
    <p> This generator is based on the D&amp;D 5E Player’s Handbook.</p>
  </h5>
  <hr>
  <h6 class="centering">
    For more information, please look at the <a href="https://www.deviantart.com/cyberaeon/art/Party-of-seven-678394450">README</a>
    or check out the Github<a href="https://www.deviantart.com/cyberaeon/art/Party-of-seven-678394450">repo</a>.
  </h6>
</div>


{% endblock %}
