{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <h2 style="text-align: center">Scene Generator</h2>
  </div>
</div>

{% if answered %}

<div class="container">
  <div class="row">
    <div class="ten columns offset-by-one">
      {{ scene }}
    </div>
  </div>
</div>

{% else %}

<!-- Form -->
<div class="container">
  <form action="{{ url_for('scene') }}" method="post">

    {% for category in categories %}
    <div class="row">
      <div class="eight columns offset-by-two">
        <label for="{{ category }}">Enter {{ category }}</label>
        <input class="u-full-width" type="text" name="{{ category }}">
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="eight columns offset-by-five">
        <input class="button-primary" type="submit" value="Submit" id="roll_btn">
      </div>
    </div>

</div>

{% endif %}

{% endblock %}
